# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# lol emacs
*~

build/*
install/*

!fmod/api/lowlevel/lib/x86_64/libfmod.so
!fmod/api/lowlevel/lib/x86_64/libfmodL.so
